<div class="container about-section">
  <img src="../assets/images/logo.png"/>
  <h1>About</h1>

  <div class="row align-items-center">

    <div class="col-lg-12">
      <div class="about__video text-center mt-4">
        <video controls width="100%">
          <source src="https://media.istockphoto.com/id/1224542926/video/view-of-various-sweets-including-napoleon-cheesecake-and-other-cakes-berries-and-teapot.mp4?s=mp4-640x640-is&k=20&c=QHVF8ObEsKGS4DkktoGjoy258ZmreL6ii5gxaXteiKk=" type="video/mp4">

        </video>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="about__text">
        <div class="section-title">
          <span class="about-title">About Cake Shop</span>
          <h2 class="about-heading">Cakes and bakes from the house of Queens!</h2>
        </div>
        <p class="about-description">The "Cake Shop" is a Jordanian Brand that started as a small family business. The owners are Dr. Iyad Sultan and Dr. Sereen Sharabati, supported by a staff of 80 employees.</p>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="about__bar">
        <div class="about__bar__item mb-4">
          <div class="d-flex justify-content-between">
            <p class="mb-1">Cake Design</p>
            <span class="percentage">95%</span>
          </div>
          <div class="progress">
            <div class="progress-bar" style="width: 95%;"></div>
          </div>
        </div>
        <div class="about__bar__item mb-4">
          <div class="d-flex justify-content-between">
            <p class="mb-1">Cake Class</p>
            <span class="percentage">80%</span>
          </div>
          <div class="progress">
            <div class="progress-bar" style="width: 80%;"></div>
          </div>
        </div>
        <div class="about__bar__item">
          <div class="d-flex justify-content-between">
            <p class="mb-1">Cake Recipes</p>
            <span class="percentage">90%</span>
          </div>
          <div class="progress">
            <div class="progress-bar" style="width: 90%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
