<div class="container">
  <div class=" py-5 d-flex justify-content-between align-items-center">
    <h1>checkout</h1>
    <div class="nav-links">
        <a href="">Home</a>
        |
        <a href="">checkout</a>

    </div>

</div>
  <div class="row mt-4">
    <div class="col-md-8">
      <h3>Billing Details</h3>
      <hr>
      <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class="p-4 bg-light rounded">
        <div class="form-group mb-4">
          <h3 class="mb-3">Shipping Address</h3>
          <div *ngFor="let address of shippingAddresses" class="form-check mb-2">
            <input type="radio" [value]="address.id" formControlName="shipping_address_id" class="form-check-input">
            <label class="form-check-label">
              {{ address.street }}, {{ address.city }}, {{ address.state }} - {{ address.phone_number }}
            </label>
          </div>
          <div class="form-check mb-2">
            <input type="radio" value="" formControlName="shipping_address_id" class="form-check-input">
            <label class="form-check-label">New Address</label>
          </div>
        </div>
      
        <div formGroupName="shipping_address" *ngIf="checkoutForm.get('shipping_address_id')?.value === ''" class="bg-white p-4 rounded shadow-sm">
          <div class="row mb-3">
            <div class="col">
              <label for="city" class="form-label">City*</label>
              <input type="text" id="city" class="form-control" formControlName="city">
            </div>
            <div class="col">
              <label for="state" class="form-label">State*</label>
              <input type="text" id="state" class="form-control" formControlName="state">
            </div>
          </div>
          <div class="mb-3">
            <label for="street" class="form-label">Street*</label>
            <input type="text" id="street" class="form-control" formControlName="street">
          </div>
          <div class="mb-3">
            <label for="phone_number" class="form-label">Phone Number*</label>
            <input type="text" id="phone_number" class="form-control" formControlName="phone_number">
          </div>
        </div>
      
        <div class="form-check my-5 ">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled checked>
          <label class="form-check-label " for="flexCheckDefault">
            Cash on delivery
          </label>
        </div>
      
        <button type="submit" class="btn btn-dark text-light mt-3">Place Order</button>
      </form>
      
    </div>
    <div class="col-md-4">
      <div class="card custom-card">
        <div class="card-body custom-card-body">
          <h3>Your Order</h3>
          <ul class="list-group custom-list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center custom-list-group-item" *ngFor="let item of orderItems; let i = index">
              {{ (i + 1) | number:'2.0' }}. {{ item.product?.title }} X {{ item.quantity }}
              <span>${{ item.product?.price * item.quantity }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center font-weight-bold custom-list-group-item">
              Subtotal
              <span>${{ totalPrice }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center font-weight-bold custom-list-group-item">
              Total
              <span>${{ totalPrice }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
  </div>
</div>
