<section class="team spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-7">
        <div class="section-title">
          <span>Our team</span>
          <h2>Sweet Baker</h2>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5">
        <div class="team__btn">
          <a href="#" class="primary-btn">Join Us</a>
        </div>
      </div>
    </div>
    <div id="teamCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="team__item">
                <div class="team__item__img">
                  <img src="../../assets/images/team-1.jpg" class="d-block w-100" alt="Randy Butler">
                  <div class="team__item__text">
                    <h6>Randy Butler</h6>
                    <span>Decorator</span>
                    <div class="team__item__social">
                      <a href="#"><i class="bi bi-facebook"></i></a>
                      <a href="#"><i class="bi bi-twitter"></i></a>
                      <a href="#"><i class="bi bi-instagram"></i></a>
                      <a href="#"><i class="bi bi-youtube"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="team__item">
                <div class="team__item__img">
                  <img src="../../assets/images/team-2.jpg" class="d-block w-100" alt="John Doe">
                  <div class="team__item__text">
                    <h6>John Doe</h6>
                    <span>Chef</span>
                    <div class="team__item__social">
                      <a href="#"><i class="bi bi-facebook"></i></a>
                      <a href="#"><i class="bi bi-twitter"></i></a>
                      <a href="#"><i class="bi bi-instagram"></i></a>
                      <a href="#"><i class="bi bi-youtube"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="team__item">
                <div class="team__item__img">
                  <img src="../../assets/images/team-3.jpg" class="d-block w-100" alt="Jane Smith">
                  <div class="team__item__text">
                    <h6>Jane Smith</h6>
                    <span>Baker</span>
                    <div class="team__item__social">
                      <a href="#"><i class="bi bi-facebook"></i></a>
                      <a href="#"><i class="bi bi-twitter"></i></a>
                      <a href="#"><i class="bi bi-instagram"></i></a>
                      <a href="#"><i class="bi bi-youtube"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="team__item">
                <div class="team__item__img">
                  <img src="../../assets/images/team-4.jpg" class="d-block w-100" alt="Emily Davis">
                  <div class="team__item__text">
                    <h6>Emily Davis</h6>
                    <span>Pastry Chef</span>
                    <div class="team__item__social">
                      <a href="#"><i class="bi bi-facebook"></i></a>
                      <a href="#"><i class="bi bi-twitter"></i></a>
                      <a href="#"><i class="bi bi-instagram"></i></a>
                      <a href="#"><i class="bi bi-youtube"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


      <div class="carousel-indicators">
        <button type="button" data-bs-target="#teamCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#teamCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#teamCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>


      <button class="carousel-control-prev" type="button" data-bs-target="#teamCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#teamCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
